dagster==1.7.10
dagster-webserver==1.7.10
dagster-graphql==1.7.10
dagster-pipes==1.7.10

dagster-docker==0.23.10
dagster-postgres==0.23.10

pandas>=2.0,<3.0
pyarrow>=14.0,<16.0
sqlalchemy>=2.0,<3.0
psycopg2-binary>=2.9,<3.0
python-dotenv>=1.0,<2.0
pydantic>=2.0,<3.0

watchdog<6